table.diamondsweeper-board {
  margin: auto;
  border-collapse: collapse;
  td {
      padding: 0;
  }
}

.cell {
  height: 50px;
  width: 50px;
  border: 1px solid #fff;
  background-color: #3c3390;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &.diamond {
      background-image: url(diamond.png);
      background-color: #14d217;
  }

  &.arrow {
      background-image: url(arrow.png);
      background-color: #f00;
  }

  &.unknown {
      background-image: url(question.png);
      background-color: #3c3390;
  }
}
